<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example Post</title>

    <link rel="icon" href="../assets/script.svg" />

    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Sofia&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header class="blog-header">
      <a href="#" class="subscribe-link">Subscribe</a>
      <h1 class="blog-title">AMO's Blog</h1>
      <div class="search-icon">
        <a href="../index.html" class="search-icon">
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </header>

    <main class="blog-article">
      <article class="article-card">
        <h1 class="article-title">Example Blog Post</h1>

        <span class="date-of-publish"
          >November 1, 2019 by
          <a
            href="https://github.com/AlaaOthman98"
            class="link-in-article"
            target="_blank"
          >
            Alaa
          </a>
        </span>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
          cupiditate quisquam reiciendis dolorem cum suscipit porro. Doloribus
          accusantium distinctio in aliquam quis. Sequi aperiam numquam voluptas
          eum aspernatur. Quo, cumque?
        </p>

        <hr />

        <p>
          Lorem ipsum, dolor sit amet
          <a href="#" class="link-in-article">consectetur adipisicing</a> elit.
          Minima maxime accusamus excepturi. Assumenda accusantium veniam,
          asperiores facere pariatur, recusandae atque nisi est eius animi
          placeat itaque magni ad rem at.
        </p>

        <p class="block-of-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum amet
          assumenda praesentium eveniet nisi sapiente odit quidem cupiditate
          expedita nesciunt, quisquam, iusto asperiores laborum? Rerum
          distinctio dicta nam id dolor!
        </p>

        <h2>Heading</h2>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          mollitia voluptatum fugiat quas unde, neque nisi! Repudiandae impedit
          expedita alias tempora eos sunt odio, voluptatem, ea vitae molestiae
          tenetur debitis.
        </p>

        <h3>Sub-heading</h3>

        <p>
          Lorem ipsum, dolor sit amet
          <a href="#" class="link-in-article">consectetur adipisicing</a> elit.
        </p>

        <p class="block-of-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          mollitia voluptatum fugiat quas unde, neque nisi! Repudiandae impedit
          expedita alias tempora eos sunt odio, voluptatem, ea vitae molestiae
          tenetur debitis.
        </p>

        <h3>Sub-heading</h3>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          mollitia voluptatum fugiat quas unde, neque nisi! Repudiandae impedit
          expedita alias tempora eos sunt odio, voluptatem, ea vitae molestiae
          tenetur debitis.
        </p>

        <ul>
          <li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>
        </ul>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        <ol>
          <li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>
        </ol>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </article>

      <section class="share-and-navigation-buttons">
        <div>
          <h4>Share it</h4>
          <div class="icon-wrapper">
            <div class="fb-icon">
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </div>

            <div class="twitter-icon">
              <a href="#">
                <i class="fab fa-twitter-square"></i>
              </a>
            </div>

            <div class="github">
              <a href="#">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="blog-footer">
      Copyrights preserved for <span> AMO </span>
    </footer>

    <script
      src="https://kit.fontawesome.com/9eb6fa9314.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
